/* flexbox template adapted from the course website : https://iat339.andrewh.ca/?pk_campaign=sites&pk_kwd=canvas
some parts are adapted from css files associated with the framework: https://github.com/cubiq/iscroll*/

*, *::after, *::before {
	box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.box {

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
  list-style: none;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: center;
	-ms-justify-content: center;
		justify-content: center;
	-webkit-flex-flow: row wrap;

}

.box-item1 {
	-webkit-flex: 1 1 18em;
	-ms-flex: 1 1 18em;
	flex: 1 1 10em;
	padding: 0;

}


.box-item {

	-webkit-flex: 1 1 18em;
	-ms-flex: 1 1 18em;
	flex: 1 1 10em;
	padding: 0 1rem;

}

.project-container {
	-webkit-justify-content:  space-between;
	-ms-justify-content:  space-between;
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	list-style: none;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-flex-flow: row wrap;
}



.vertical-project-container {
	-webkit-justify-content: left;
	-ms-justify-content: left;
	justify-content:  left;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	-webkit-flex-flow: row wrap;
}

.vertical-project-container a {
	  align-items: center;
}


.navigation {

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
	flex-direction: column;

}
