

html {
	-ms-touch-action: none; /* adapted from css files associated with the framework: https://github.com/cubiq/iscroll*/
 scroll-behavior: smooth; /* source: https://stackoverflow.com/questions/17631417/css-pure-css-scroll-animation/17633941#17633941*/
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


body,ul,li {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: Arial, sans-serif;
	overflow: hidden; /* source: https://github.com/cubiq/iscroll  */
}




/*positioning for the following elements is sourced from the framework demo: https://github.com/cubiq/iscroll/blob/master/demos/horizontal/index.html */
.navigation {
  width: 100%;

	border: 0px dashed #d6abcc;
	background-color:  #2a2e54; /* #e6ff28;
	box-shadow: 0 4px 4px rgba(0,0, 0,0.8), 0 4px 4px rgba(0, 0, 0,0.8); */


}


.navigation-container {
	width:10%;
	margin: 0;
	position: relative;
	z-index: 2;
	left: 15rem;
	top: 7rem;
	height: 100vh;
	background-color: #2a2e54;
	box-shadow: 0 4px 4px rgba(0,0, 0,0.8), 0 4px 4px rgba(0, 0, 0,0.8);

}


.navigation-item{
	  text-decoration: none;
	  padding: 0.75rem 2rem;
		color: white;
		font-size: 0.9rem;
		margin: 0;
		width: 100%;
		text-align: right;
    transition: 0.3s;
		border-bottom: 0.7px solid white;
    line-height: 0.85;

}

.navigation-item a:active, a:focus, a:hover{
	  background-color: #393e72;
}

.navigation-item:hover {
	transform: scale(1.2);
	border: 2px solid #666ca8; /*#5159a3;
	/*box-shadow: 10px 10px 10px rgba(214, 171, 204,0.8), 10px 10px 10px rgba(214, 171, 204,0.8);*/
}


h1 {
	font-family: Arial, sans-serif;
	font-size: 5rem;
  font-weight: bold;
	display: flex;
  margin: 0;

  color:rgba(141, 222, 244, 0.9);/* #545647;  #726499;  #d6abcc;*/

}



h3 {
	background-color: #2a2e54;
	color: #666ca8;
	padding: 0.5rem;
	display: inline-block;
	font-weight: bold;
  border: 0px dashed white;
	text-align: left;
}

 p.intro {
	font-weight: bold;
	color: black;
}

p.bio {
	color: black;
}


#contact {
	position: absolute;
	top: 0;
  right: 0;
  visibility: hidden;
	height: 20px;
	width: 20px;
	z-index: 5;
}

#very-right {


  height: 80vh;
  margin-right: 5rem;
	border: 1px dashed #2a2e54;
	background-color: white;
	box-shadow: 0 4px 4px rgba(0,0, 0,0.8), 0 4px 4px rgba(0, 0, 0,0.8);

}

button {
	text-decoration: none;
	background-color: #2a2e54;
	color: white;
	font-weight: bold;
	border: none;
	padding: 0.8rem;
	box-shadow: 0 4px 4px rgba(0,0, 0,0.8), 0 4px 4px rgba(0, 0, 0,0.8);
}

.vertical-project-container a {
	margin: 2rem;
	display: flex;
	background-color: black;
	border: 3px solid white;
	color: white;

}

img {
	max-width: 100%;
}

img.icon {

width: auto;
height: 2rem;
}


/*Adapted from: http://jsfiddle.net/gd8ba/light/*/
.project-img img:last-child
 {
	   display:none;
}
.project-img:hover img:first-child
 {
	   display:none;
}
.project-img:hover img:last-child {
	   display:block;
}

.project-img img, .project-img img:hover  {
 width: 20rem;
 padding: 2rem;
}


#about-window {
  display:none;

}

#about-window.active {
	position: relative;
	width:350%;
	margin: 0;
	z-index: 10;
	left: 9rem;
	top: -16rem;
  display: block;

	border: 1px dashed #2a2e54;
	background-color: white;
	box-shadow: 0 4px 4px rgba(0,0, 0,0.8), 0 4px 4px rgba(0, 0, 0,0.8);
	padding: 2rem;

	/*FADE IN ANIMATION FOR CONTACT AND ABOUT WINDOWS. Adapted from: https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load*/
	-webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
			 -moz-animation: fadein 0.3s; /* Firefox < 16 */
				-ms-animation: fadein 0.3s; /* Internet Explorer */
				 -o-animation: fadein 0.3s; /* Opera < 12.1 */
						animation: fadein 0.3s;
						animation-direction: alternate;
						animation-timing-function: ease-in-out;


}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.contact-form {
	/*background-color: #666ca8;*/
	border: 2px dashed white;
}

form {
	color: #2a2e54;
	text-align: left;
}

textarea {
	-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;

 width: 80%;
 max-width: 95%;
 resize: none;
 height: 7rem;
}

.footer {
	position: absolute;
	z-index: 2;
	bottom:0vh;
	right: 0;
	width: 100%;
	height: 4vh;
	margin-bottom: 0;
	padding: 0;
  font-size: 0.8rem;
	background-color: #2a2e54;
	box-shadow: 0 4px 4px rgba(0,0, 0,0.8), 0 4px 4px rgba(0, 0, 0,0.8);
  border: 0px solid black;
	text-align: center;
}

.footer p {
	padding: 0.3rem 0 0 0;
	margin: 0;
	color: #666ca8;
}

.footer a {

	color: #666ca8;
}


#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: hidden;
}
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 200vw;
	height: 100%;
	background-color: white;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	text-align: center;
/*	background-color: #272822; */
  background-image: url("back2.jpg");
	background-size: 60vw;
	background-repeat: repeat;
	/*  #f7e3eb; */


}
#scroller li {
	display: block;
	float: left;
	width: 100vw;
	height: 100%;
	margin-top: 0;
}

.project-container {
	width: 100%;
	display: flex;
	margin-right: 8rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.project {
	border: 0 dashed #d6abcc;

}

.empty-project {
	flex-grow: 1;
	border: 0px dashed #d6abcc;

}
