

html {
	-ms-touch-action: none; /* adapted from css files associated with the framework: https://github.com/cubiq/iscroll*/
 scroll-behavior: smooth; /* source: https://stackoverflow.com/questions/17631417/css-pure-css-scroll-animation/17633941#17633941*/
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


body,ul,li {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: Arial, sans-serif;
	overflow: hidden; /* source: https://github.com/cubiq/iscroll  */
}




/*positioning for the following elements is sourced from the framework demo: https://github.com/cubiq/iscroll/blob/master/demos/horizontal/index.html */
.navigation {
  width: 100%;
	background-color: #2a2e54;

}


.navigation-container {
	width:10%;
	margin: 0;
	position: relative;
	z-index: 2;
	left: 15rem;
	top: 7rem;
	height: 100vh;
	background-color: #2a2e54;
	box-shadow: 0 4px 4px rgba(0,0, 0,0.8), 0 4px 4px rgba(0, 0, 0,0.8);
}

.navigation-container.no-horizontal {
	background-color: rgba(0,0, 0,0);
	left: 5rem;
  box-shadow: 0 0 0 rgba(0,0, 0,0), 0 0 0 rgba(0, 0, 0,0);

}

.navigation.no-horizontal {
	background-color: white;
}

.navigation-item.no-horizontal {
	background: #2a2e54;
}

.navigation-item{
	  text-decoration: none;
	  padding: 0.75rem 2rem;
		color: white;
		font-size: 0.9rem;
		margin: 0;
		width: 100%;
		text-align: right;
    transition: 0.3s;
		border-bottom: 0.7px solid white;
    line-height: 0.85;
}

#home-icon:hover {
	  transform: scale(1);
		border-bottom: 0.7px solid white;
		border-top: 0px solid white;
		border-left: 0px solid white;
		border-right: 0px solid white;
}

#home-icon img:hover {
	transform: scale(1.3);
}

#work {
	  border-top: 0.7px solid white;
}
#work:hover {
border-top: 2px solid #666ca8;
}

.navigation-item a:active, a:focus, a:hover{
	  background-color: #393e72;
}

.navigation-item:hover {
	transform: scale(1.2);
	border: 2px solid #666ca8;

}

.mobile-navigation {
	display: none;
	position: fixed;
	width: 100vw;
	top: 0;
  background-color: #2a2e54;
	z-index: 8;
}



h1 {
	font-family: Arial, sans-serif;
	font-size: 5rem;
  font-weight: bold;
	display: flex;
  margin: 0;
  color:rgba(141, 222, 244, 0.8);

}



h3 {
	background-color: #2a2e54;
	color: #666ca8;
	padding: 0.5rem;
	display: inline-block;
	font-weight: bold;
  border: 0px dashed white;
	text-align: left;
}

.no-horizontal h3 {
  display: none;
}

 p.intro {
	font-weight: bold;
	color: black;
}

p.bio {
	color: black;
}


#contact {
	position: absolute;
	top: 0;
  right: 0;
  visibility: hidden;
	height: 20px;
	width: 20px;
	z-index: 5;
}

.very-right {


  height: 80vh;
  margin-right: 5rem;
	border: 0px dashed #2a2e54;
	background-color: white;
	box-shadow: 0 4px 4px rgba(0,0, 0,0.8), 0 4px 4px rgba(0, 0, 0,0.8);

}




img {
	max-width: 100%;

}

h2.project-title {
	color: white;
  letter-spacing: 2px;
	text-align: right;
}

p.project-title {
	color: white;
  letter-spacing: 2px;
	text-align: right;

}

.overlay-link {
	text-decoration: none;
}

/*Adapted from: http://jsfiddle.net/gd8ba/light/
.project-img img:last-child
 {
	   display:none;
}
.project-img:hover img:first-child
 {
	   display:none;
}
.project-img:hover img:last-child {
	   display:block;
}

.project-img img, .project-img img:hover  {
 width: 20rem;
 padding: 2rem;
}
*/

#about-window {
  display:none;

}

#about-window.active {
	position: relative;
	width:350%;
	margin: 0;
	z-index: 10;
	left: 9rem;
	top: -16rem;
  display: block;

	border: 1px dashed #2a2e54;
	background-color: white;
	box-shadow: 0 4px 4px rgba(0,0, 0,0.8), 0 4px 4px rgba(0, 0, 0,0.8);
	padding: 2rem;

	/*FADE IN ANIMATION FOR CONTACT AND ABOUT WINDOWS. Adapted from: https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load*/
	-webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
			 -moz-animation: fadein 0.3s; /* Firefox < 16 */
				-ms-animation: fadein 0.3s; /* Internet Explorer */
				 -o-animation: fadein 0.3s; /* Opera < 12.1 */
						animation: fadein 0.3s;
						animation-direction: alternate;
						animation-timing-function: ease-in-out;


}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


form {
	color: #2a2e54;
	text-align: left;
}

textarea {
	-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;

 width: 80%;
 max-width: 95%;
 resize: none;
 height: 10rem;
}

figure {
	display: flex;
}

footer {
	position: absolute;
	z-index: 2;
	bottom:0vh;
	right: 0;
	width: 100%;
	height: 4vh;
	margin-bottom: 0;
	padding: 0;
  font-size: 0.8rem;
	background-color: #2a2e54;
	box-shadow: 0 4px 4px rgba(0,0, 0,0.8), 0 4px 4px rgba(0, 0, 0,0.8);
  border: 0px solid black;
	text-align: center;
}

footer p {
	padding: 0.3rem 0 0 0;
	margin: 0;
	color: #666ca8;
}

footer a {

	color: #666ca8;
}


#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: hidden;
}
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 200vw;
	height: 100%;
	background-color: white;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	text-align: center;
  background-image: url("back2.jpg");
	background-size: 60vw;
	background-repeat: repeat;



}
#scroller li {
	display: block;
	float: left;
	width: 100vw;
	height: 100%;
	margin-top: 0;
}

.project-container {
	width: 100%;
	display: flex;
	margin-right: 8rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.project-type {
	background-color: #2a2e54;
	margin: 5rem;
	box-shadow: 0 2px 4px rgba(0,0, 0,0.8), 0 2px 4px rgba(0, 0, 0,0.8);
  position: relative;
}
/*overlay effect on hover adapted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
	z-index: 5;
  transition: .3s ease;
  background-color: rgba(42, 46, 84, 0.9);
	box-shadow: 0 2px 4px rgba(0,0, 0,0.85), 0 2px 4px rgba(0, 0, 0,0.85);
}

.project-type:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
	font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
	letter-spacing: 2px;

}
.empty-project {
	flex-grow: 1;

}
img.icon {
	max-width: 50%;
}

.work-page {
	background-image: url("back2.jpg");
	background-size: 60vw;
	background-repeat: repeat;
}

.empty-project-work {
	flex-grow: 2;

}


button {
	padding: 0.8rem;
	box-shadow: 0 1px 2px rgba(0,0, 0,0.7), 0 1px 2px rgba(0, 0, 0,0.7);
}

/* Adapted from: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1 */
.button-animated {
 display: inline-block;
 padding: 0.3em 0.5em;
 margin: 1em 0;
 color: white;
 background-color:  #2a2e54;
 border: none;
 text-decoration: none;
 -webkit-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}

.button-animated span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button-animated span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button-animated:hover span {
	padding-right: 25px;
}

.button-animated:hover span:after {
	opacity: 1;
	right: 0;
}


#citations a:hover {
	color: white;
}

#citations a {
	color: #2a2e54;
}

#citations h1 {
	color: #2a2e54;
	margin: 2rem;
}
